In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('M21 Launch Ratings.csv')

<h3>Drop the first two columns</h3>

In [5]:
df = df.drop(['firstName','lastName'],axis=1)

In [8]:
df = df.rename(columns={"position": "Position", "archetype": "Archetype","overall_rating":"Overall","team":"Team"})

<h3>Changing column names</h3>

In [11]:
df = df.rename(columns={"age":"Age","college":"College","awareness_rating":"Awareness","throwPower_rating":"Throw Power"})

In [13]:
df = df.rename(columns={"kickReturn_rating":"Kick Return","leadBlock_rating":"Lead Block","strength_rating":"Strength"})

In [15]:
df = df.rename(columns={"bCVision_rating":"Ball Carry Vision","catchInTraffic_rating":"Catch In Traffic"})

In [17]:
df = df.rename(columns={"playAction_rating":"Play Action","pursuit_rating":"Pursuit"})

In [18]:
df = df.drop("plyrAssetname",axis=1)

In [19]:
df = df.rename(columns={"mediumRouteRunning_rating":"Medium Route Running","catching_rating":"Catching","acceleration_rating":"Acceleration"})

In [21]:
df = df.rename(columns={"spinMove_rating":"Spin Move","height":"Height","finesseMoves_rating":"Finesse Moves"})

In [22]:
df = df.rename(columns={"spectacularCatch_rating":"Spectacular Catch","runBlock_rating":"Run Block","tackle_rating":"Tackle"})

In [24]:
df = df.rename(columns={"injury_rating":"Injury","zoneCoverage_rating":"Zone Coverage","weight":"Weight","plyrBirthdate":"DOB"})

In [25]:
df = df.drop('runningStyle_rating',axis=1)

In [26]:
df = df.rename(columns={"deepRouteRunning_rating":"Deep Route Running","yearsPro":"Experience","totalSalary":"Total Salary"})

In [27]:
df = df.rename(columns={"trucking_rating":"Trucking","throwAccuracyShort_rating":"Throw Accuracy (Short)"})

In [28]:
df = df.rename(columns={"jukeMove_rating":"Juke Move","playRecognition_rating":"Play Recognition","shortRouteRunning_rating":"Route Running (Short)"})

In [30]:
df = df.rename(columns={"jerseyNum":"Jersey Number","breakSack_rating":"Break Sack","speed_rating":"Speed"})

In [31]:
df = df.rename(columns={"runBlockPower_rating":"Run Block Power","jumping_rating":"Jumping","toughness_rating":"Toughness"})

In [32]:
df = df.rename(columns={"throwOnTheRun_rating":"Throw On The Run","manCoverage_rating":"Man Coverage","stiffArm_rating":"Stiff Arm"})

In [33]:
df = df.rename(columns={"powerMoves_rating":"Power Moves","release_rating":"Release","hitPower_rating":"Hit Power"})

In [34]:
df = df.drop('iteration',axis=1)

In [35]:
df = df.rename(columns={"throwAccuracyMid_rating":"Throw Accuracy (Mid)","kickAccuracy_rating":"Kick Accuracy","passBlockPower_rating":"Pass Block Power"})

In [36]:
df = df.rename(columns={"impactBlocking_rating":"Impact Blocking","stamina_rating":"Stamina","carrying_rating":"Carrying"})

In [37]:
df = df.rename(columns={"breakTackle_rating":"Break Tackle","kickPower_rating":"Kick Power","plyrHandedness":"Handedness"})

In [38]:
df = df.drop('plyrPortrait',axis=1)

In [39]:
df = df.rename(columns={"throwUnderPressure_rating":"Throw Under Pressure","passBlock_rating":"Pass Block"})

In [40]:
df = df.drop('signingBonus',axis=1)

In [41]:
df = df.rename(columns={"changeOfDirection_rating":"Change Of Direction","press_rating":"Press","throwAccuracyDeep_rating":"Throw Accuracy (Deep)"})

In [42]:
df = df.rename(columns={"blockShedding_rating":"Block Shedding","runBlockFinesse_rating":"Run Block Finesse","teamId":"Team ID","agility_rating":"Agility","passBlockFinesse_rating":"Pass Block Finesse","primaryKey":"Primary Key"})

In [44]:
df = df.drop('age.1',axis=1)

In [49]:
df = df.drop(['Unnamed: 65','Unnamed: 75'],axis=1)

In [51]:
df.head()

,Name,Position,Archetype,Overall,Team,Age,College,Awareness,Throw Power,Kick Return,...,Pass Block,Change Of Direction,Press,Throw Accuracy (Deep),Block Shedding,Run Block Finesse,Team ID,Agility,Pass Block Finesse,Primary Key
0,Aaron Donald,RE,DE_PowerRusher,99,Rams,29,Pittsburgh,99,20,10,...,45,68,21,6,97,45,24,86,45,10852
1,Christian McCaffrey,HB,HB_ReceivingBack,99,Panthers,24,Stanford,97,44,88,...,69,96,15,30,32,22,21,97,32,12556
2,Michael Thomas,WR,WR_RouteRunner,99,Saints,27,Ohio State,99,24,25,...,40,90,16,6,22,31,27,92,14,17552
3,Patrick Mahomes,QB,QB_Improviser,99,Chiefs,24,Texas Tech,97,97,10,...,10,88,10,93,24,10,9,88,10,12635
4,Stephon Gilmore,CB,CB_MantoMan,99,Patriots,29,South Carolina,99,43,70,...,35,95,99,32,54,35,22,94,35,11436

In [58]:
df[df['Position'] == 'QB'][['Name','Team','Team ID']].sort_values(by='Team ID', ascending=True)

                   Name     Team  Team ID
2262         Tyler Bray    Bears        1
849   Mitchell Trubisky    Bears        1
935          Nick Foles    Bears        1
544          Joe Burrow  Bengals        2
2203      Jake Dolegala  Bengals        2
...                 ...      ...      ...
2229       Nate Stanley  Vikings       31
263        Kirk Cousins  Vikings       31
2217       Alex McGough   Texans       32
1874      A.J. McCarron   Texans       32
133      Deshaun Watson   Texans       32

[111 rows x 3 columns]

In [60]:
df = df.drop('Team ID',axis=1)

In [61]:
df.to_csv('Madden21Cleaned.csv')

<h3>Reorder columns to group related attributes together</h3>

In [2]:
df2 = pd.read_csv('Madden21Cleaned.csv')

In [4]:
df2 = df2.drop('Unnamed: 0', axis=1)

In [6]:
df2.columns

Index(['Name', 'Position', 'Archetype', 'Overall', 'Team', 'Age', 'College',
       'Awareness', 'Throw Power', 'Kick Return', 'Lead Block', 'Strength',
       'Ball Carry Vision', 'Catch In Traffic', 'Play Action', 'Pursuit',
       'Medium Route Running', 'Catching', 'Acceleration', 'Spin Move',
       'Height', 'Finesse Moves', 'Spectacular Catch', 'Run Block', 'Tackle',
       'Injury', 'Zone Coverage', 'Weight', 'DOB', 'Deep Route Running',
       'Experience', 'Total Salary', 'Trucking', 'Throw Accuracy (Short)',
       'Juke Move', 'Play Recognition', 'Route Running (Short)',
       'Jersey Number', 'Break Sack', 'Speed', 'Run Block Power', 'Jumping',
       'Toughness', 'Throw On The Run', 'Man Coverage', 'Stiff Arm',
       'Power Moves', 'Release', 'Hit Power', 'Throw Accuracy (Mid)',
       'Kick Accuracy', 'Pass Block Power', 'Impact Blocking', 'Stamina',
       'Carrying', 'Break Tackle', 'Kick Power', 'Handedness',
       'Throw Under Pressure', 'Pass Block', 'Change Of Direction', 'Press',
       'Throw Accuracy (Deep)', 'Block Shedding', 'Run Block Finesse',
       'Agility', 'Pass Block Finesse', 'Primary Key'],
      dtype='object')

In [7]:
df2 = df2[['Name', 'Position', 'Overall', 'Team', 'College', 'Age', 'Experience',
           'DOB', 'Height', 'Weight', 'Jersey Number', 'Handedness', 'Archetype', 'Total Salary',
           'Awareness', 'Speed', 'Agility', 'Acceleration', 'Stamina', 'Injury', 'Toughness', 'Jumping',
           'Throw Power', 'Throw Accuracy (Short)', 'Throw Accuracy (Mid)','Throw Accuracy (Deep)',
           'Play Action', 'Throw Under Pressure', 'Break Sack', 'Throw On The Run',
           'Ball Carry Vision', 'Carrying', 'Break Tackle', 'Trucking', 'Stiff Arm', 'Spin Move', 'Juke Move', 
           'Catching', 'Change Of Direction', 'Route Running (Short)', 'Medium Route Running', 'Deep Route Running', 
           'Catch In Traffic', 'Release', 'Spectacular Catch','Kick Return', 
           'Strength', 'Lead Block', 'Run Block', 'Run Block Power', 'Run Block Finesse',
           'Pass Block', 'Pass Block Power', 'Pass Block Finesse', 'Impact Blocking',
           'Tackle', 'Pursuit', 'Play Recognition', 'Block Shedding',
           'Power Moves', 'Finesse Moves',
           'Hit Power',
           'Man Coverage', 'Zone Coverage', 'Press',
           'Kick Power', 'Kick Accuracy', 'Primary Key']]

In [8]:
df2.head()

,Name,Position,Overall,Team,College,Age,Experience,DOB,Height,Weight,...,Block Shedding,Power Moves,Finesse Moves,Hit Power,Man Coverage,Zone Coverage,Press,Kick Power,Kick Accuracy,Primary Key
0,Aaron Donald,RE,99,Rams,Pittsburgh,29,6,5/23/1991,73,280,...,97,99,97,88,25,29,21,25,21,10852
1,Christian McCaffrey,HB,99,Panthers,Stanford,24,3,6/7/1996,71,205,...,32,10,10,27,12,17,15,29,23,12556
2,Michael Thomas,WR,99,Saints,Ohio State,27,4,3/3/1993,75,212,...,22,11,11,15,16,18,16,23,22,17552
3,Patrick Mahomes,QB,99,Chiefs,Texas Tech,24,3,9/17/1995,75,230,...,24,10,10,18,17,19,10,20,10,12635
4,Stephon Gilmore,CB,99,Patriots,South Carolina,29,8,9/19/1990,73,202,...,54,60,44,68,99,97,99,30,25,11436

<h3>Don't forget political correctness</h3>

In [10]:
df2["Team"]= df2["Team"].replace("Redskins", "Washington")

In [11]:
df2.to_csv('Madden21Cleaned.csv')